#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.fullscreen-wrapper{
  z-index: 10;
  position:absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-direction: column;
}
.display-none{
  display: none;
}
.score-wrapper{
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  font-size: 2rem;
  margin-right:20px;
}


